.p-sidebar-left, .container-sidebar {
    width: 200px !important;
    padding: 0 !important;
    z-index: 10;
}

.p-sidebar {
    padding: 0 !important;
}

.sidebar-header {
    background-color: #1565c0;
    height: 55px;
    font-size: 16px;;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 8px;
}

.container-title {
    margin: 5px 0 5px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    color: #000000;
    margin: 13px 22px 22px 22px;
    font-size: 10px;
}

.input-item span {
    font-weight: 400;
    display: block;
    margin: 4px 5px;
}

.input-container .input-passport {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}