.container-result {
    width: fit-content;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    background-color: #c0c0c0;
  /*  margin: 20px 0 0 218px;*/
}

.header-result {
    height: 27px;
    border: 1px solid #c0c0c0;
}

.result-icon {
    height: 25px;
    width: 61px;
    background-color: white;
    font-size: 10px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.result-item {
    margin: 0 7px;
}

