.container {
    width: 1010px;
    background-color: #76a9fe;
    border: 1px solid #1e88e5;
    border-radius: 3px;
}

.box-upper, .box-lower {
    background-color: #76a9fe;
    position: relative;
}
.box-upper {
    height: 20px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 12px;
    border-bottom: 1px solid #1e88e5;
}

.box-upper span{
    display: block;
}

.box-lower {
    height: 20px;
    border-top: 1px solid #1e88e5;
}

