.container {
    border-collapse: collapse;
    background-color: #76a9fe;
    width: 1000px;
    border: 1px solid #1e88e5;
    border-radius: 3px;
   /* margin: 8px 14px;*/
}

.box-upper, .box-lower {
    background-color: #76a9fe;
   /* border: 1px solid #1e88e5;*/
}

.box-upper {
    height: 22px;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #1e88e5;
}

.box-lower {
    height: 27px;
    border-top: 1px solid #1e88e5;
}

.container-result {
    width: 1030px;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    background-color: #c0c0c0;
}

.header-result {
    height: 34px;
    border: 1px solid #c0c0c0;
}

.result-icon {
    height: 32px;
    width: 69px;
    background-color: white;
    font-size: 10px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.result-item {
    margin: 0 7px;
}
